<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jomindar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
    <body>
        <div >
        <div class="layout-transparent mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--transparent">
                <div class="mdl-layout__header-row">
                    <!-- title -->
                    <span class="mdl-layout-title">Jomindar</span>
                    <!-- add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- navigation -->
                    <nav class="mdl-navigation">
                        @Html.ActionLink("Home", "index", "home")
                        @Html.ActionLink("Developer", "index", "developer")
                        <a class="mdl-navigation__link" href="">link</a>
                        <a class="mdl-navigation__link" href="">link</a>
                        <a class="mdl-navigation__link" href="">link</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Jomindar</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">link</a>
                    <a class="mdl-navigation__link" href="">link</a>
                    <a class="mdl-navigation__link" href="">link</a>
                    <a class="mdl-navigation__link" href="">link</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                @RenderBody()
            </main>
        </div>
    </div>
        <div class="container body-content">
           
            @*<hr />*@
            <footer style="position:absolute; bottom:0">
                <p class="text-center">&copy; @DateTime.Now.Year - Reeshad &amp; S.Shuvho</p>
            </footer>
        </div>
        
        
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
        
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
