@model IEnumerable<Jominder.Models.LandOwner>

@{
    ViewBag.Title = "Index";
}

<div class="container">
        
    <p><a href="/Developer/Create"><span class="glyphicon glyphicon-pencil"></span> Post Your Offer</a></p>
    &nbsp;
    <div class="table-responsive">
        <table class="table table-hover" style="box-shadow: -1px 3px 33px 3px rgba(0,0,0,0.54);">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Demand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lng)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Verification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Other)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Demand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lng)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Verification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Other)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>*@
                </tr>
            }

        </table>
        </div>
    </div>
